<% @employee.professions.build %>
<%= form_for(@employee) do |employee_form| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= employee_form.label :name %><br />
    <%= employee_form.text_field :name %>
  </div>
  <div class="field">
    <%= employee_form.label :cpf %><br />
    <%= employee_form.text_field :cpf %>
  </div>
  <div class="field">
    <%= employee_form.label :contact %><br />
    <%= employee_form.text_field :contact %>
  </div>

    <h2>Tags</h2>
      <%= render :partial => 'professions/form',
                 :locals => {:form => employee_form} %>

  <div class="actions">
    <%= employee_form.submit %>
  </div>
<% end %>
