<p id="notice"><%= notice %></p>


<p>
  <b>Id:</b>
  <%= @employee.id %>
</p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Cpf:</b>
  <%= @employee.cpf %>
</p>

<p>
  <b>Contact:</b>
  <%= @employee.contact %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
