<p id="notice"><%= notice %></p>


<p>
  <b>Id:</b>
  <%= @profession.id %>
</p>

<p>
  <b>Name:</b>
  <%= @profession.name %>
</p>

<%= link_to 'Edit', edit_profession_path(@profession) %> |
<%= link_to 'Back', professions_path %>
